encoder.pkl
irl/.ipynb_checkpoints
irl/clip-tuned/
irl/CLIP_ARM
irl/outputs
irl/log
irl/*.png
__pycache__
venv
.idea
.bash_history
.cache/
.local/
.python_history
nvidia-persistenced/
results/
rlight.egg-info

# Mandi(New):
*.pkl # pre-trained dVAE, just do local download
*.png
data/
log/
cxt_log/
nohup.out
wandb/
debug/*
*.mp4
*.html
outputs/
